.webfront {
  height: 100vh;
  display: flex;
  z-index: 1;
}
.line{
    height: 10px;
    width: 100%;
    background-color: #12724a80;

    margin: 0%;
}
.PicContainer {
  margin-top: 2%;
  margin-left: 7%;
  max-width: 2000px;
  height: 95%;


  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.PicContainer img {
  width: 100%;
  height: 99%;
  object-fit: fill; /* Keeps aspect ratio, fills container */
}

.webText{

    width: 600px;
    height: 150px;
    margin-left: 2%;
    margin-top: 2%;
}

.webText h1{
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.8;
}
.pharump {
    font-weight: 800;
    color: rgb(11, 148, 11);
    font-family: 'Arial', sans-serif; /* Try a font with bold support */
}

.call-btn {
    display: inline-block;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    margin-right: 3%;
  }
  
  .call-btn:hover {
    background-color: #218838;
  }
  
@media (max-width:840px) {

    .webfront{
        height: 1000px;
    }
    .PicContainer {
    margin-top: 0%;
    margin-left:2%;
    height: 80%;
    width: 80%;
    
    }


}
@media (max-width:580px) {

    .webfront{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
    }
    .webText{
        margin-top: 10%;
        width: 90%;
    }
    .webText h1{
        font-size: 1.1rem;
    }
    .call-btn{
        font-size: 0.8rem;
    }
    .PicContainer {
        margin-top: 0%;
        margin-left: 2%;
        height: 50%;
        width:95%;
        }
}